

@import url('https://fonts.googleapis.com/css?family=Comfortaa');



*{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
     
	font-family: 'Comfortaa', cursive;
}

body{
	
	width: 100%;
	height: auto;
    background-color: #F0FFFF;
    
    
    
}

.wrapper{
	position: absolute;
     top: 60%;
    left: 50%;
   
    transform: translate(-50%, -350%);
    background: rgba(0, 0, 0,0.6);
    width: 40%;
    padding: 15px;
    display:inline-flex;
    border-radius: 5px;
    justify-content: space-between; 


   

}

.wrapper .input {
    width: 85%;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    
}

.searchbtn {
    background: #ffec00;
    width: 10%;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}

.searchbtn .fas{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
}


#social{
    background-color:#7FFFD4;
;
    color: black;
    height: 50px;
    text-align: center;
    width: 100%;
    padding: 15px 15px 15px 15px;
    font-size: 20px;

}


 
    
    
    
    

main{
      height: 50px;
        width: 100%;
        display:block;


}



h4{
    text-align: center;
    font-size: 20px;
    border-bottom: 1px solid black;
}



#container{
    width: 80%;
    height: auto;
}

.icerik {
    width: 80%;
    height: auto;
   
    border: 1px solid #d5d9d4;
    border-radius: 10px;
    box-shadow: 0 2px 8px 2px rgba(20, 23, 28, .15);
    margin-bottom: 15px;
    background-color:#e2e6e1;
    display:inline-block;
    position:absolute;
    top: 40%;
    left: 10%;
    margin-left: 15px;


}



.galeriresim:hover{
    opacity: 1;
     border: 5px solid white;
    cursor: pointer;
}

 .link:link{
    
text-decoration: none;
    
}
 
/*
.galeriresim{
    
    width: 18%;
    height: 200px;
    border-radius: 5px;
    opacity: 0.8;
    box-shadow: 0 4px 8px 4px rgba(20, 23, 28, .15);
    margin: 10px;
    transition: all 0.4s;
    object-fit: cover;
    float: right;
}

*/

   

.pictures{
    
    width: 100%;
    height: auto;
    position: absolute;
    top: 70%;
    left: 0%;
    float: left;
    padding-left: 160px;
    
}


.gege{
    
    width: 90%;
    height: 90%;
    border-radius: 5px;
    opacity: 0.8;
    box-shadow: 0 4px 8px 4px rgba(20, 23, 28, .15);
    margin: 10px;
    transition: all 0.4s;
    object-fit: cover;
    
    
}


.gege:hover{
    opacity: 1;
  
}

    



.fontpic{
     padding-bottom: 5px;
    font-family: 'Oswald', sans-serif;
   
}

.ana{
    
    font-size: 20px;
    width: 30%;
    color: black;
    line-height: 35px;
    background-color: lightgray;
    box-sizing: content-box;
    margin-left: 2px;
    display:block;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    float: left;
    margin-bottom: 10px;
    margin-right: 5px;
    
    
    
    
}


.titlesbtn{
    position: absolute;
    top: 15%;
    left: 27%;
    font-size: 20px;
}
